/* ==================================================================
                        Common Style START
===================================================================== */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

body {


    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ==================================================================
                        Common Style END
===================================================================== */





/* ==================================================================
                        Nav Style START
===================================================================== */
header {
    display: flex;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    font-size: 15px;
    background-color: #2D25A0;
    font-weight: 100;
}

.nav-items {
    display: flex;
    margin-left: 145px;
    color: #fff;
}


.nav-item {
    padding: 2px 20px;
    color: #f1f1f1;
}

.nav-item:hover {
    color: #E02C6D;
    transition: all .5s ease;
}

.login-button {
    margin-right: 120px;
}

.logBtn {
    width: 120px;
    height: 42px;
    font-size: 16px;
    color: #fff;
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px 10px 24px;
    margin-top: -6px;
    font-weight: bold;
    border-radius: 2px;
}

.logBtn:hover {

    color: #E02C6D;
    background-color: #3DBAFD;

}


/* ==================================================================
                        Nav Style END
===================================================================== */



/* ==================================================================
                        Top section Style START
===================================================================== */
.topSection {
    width: 100%;
    background-color: #2D25A0;
    display: flex;
    padding-bottom: 60px;

}

.pageTitel {
    width: 40%;
    color: #fff;
    margin-left: 12%;
    margin-top: 145px;
}

.main-titel {
    font-size: 55px;
    font-weight: bolder;
    width: 76%;
    line-height: 79px;
    transition: all .3s ease-in-out;
}

.different-color {
    color: #E02C6D;
}

.main-titel:hover {
    color: #3DBAFD;
    text-shadow: 2px 2px #e4e4e4ea;

}

.pageThumbnail {
    width: 46%;
}

.pageThumbnail img {
    width: 92%;
    margin-top: 32px;
    margin-left: 6%;
    transition: all .3s ease-in;
}



.pageThumbnail img:hover {
    transform: scale(1.1);

}

.watch-live-button {
    color: #fff;
    background-color: #E02C6D;
    border: none;
    padding: 12px 29px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
}

.watch-live-button:hover {

    background-color: #3DBAFD;
    transition: all .5s ease;

}

.watch-live-button:hover>a {
    color: darkblue;
    transition: all .5s ease;

}

.watch-live-button>a {
    color: #fff;

}

/* ==================================================================
                        Top section Style END
===================================================================== */





/* ==================================================================
             card Section(player gallery) Style START
===================================================================== */

.card-section {
    width: 1050px;

}


.players-gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 23px;
    margin-top: 96px;

}

.player {

    box-shadow: 2px 2px 20px #dbdbdbe8;
    font-weight: 100;
    line-height: 20px;
    padding: 15px 15px 35px;
    transition: all .5s ease-in-out;

}

.player:hover {
    transform: scale(1.09);

}

.playerPhoto {
    width: 100%;
}

.playerName {
    margin: 20px 0px;
}

.playerAbout {
    font-size: 15px;
    color: #4e4b4bc5;

}

/* ==================================================================
             card Section(player gallery) Style END
===================================================================== */




/* ==================================================================
              Match Highlight section Style START
===================================================================== */
.match-highlight {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
}

.highlight {
    width: 45%;
    margin-right: 7%;

}

.discription h1 {
    font-size: 45px;
}

.best-moment {
    width: 50%;

}

.best-moment img {
    width: 100%;

}

/* ==================================================================
               Match Highlight section  Style END
===================================================================== */






/* ==================================================================
               Location section  Style START
===================================================================== */
.location {
    text-align: center;
    margin-top: 200px;
    width: 100%;
}

.titelExtra {

    margin-bottom: 50px;
    font-size: 45px;

}

.location-area>iframe {
    width: 100%;

}

/* ==================================================================
                Location  Highlight section  Style END
===================================================================== */







/* ==================================================================
                    Sponser section  Style Start
===================================================================== */

.sponsor-section {
    margin-top: 200px;
}

.titelExtra {
    text-align: center;
    color: #ff7c4df6;
    text-shadow: 1px 1px #272727;

}

.sponsors {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.sponsor {
    width: 200px;

}

.sponsor:hover img {
    transform: scale(1.2);
}

.sponsor img {
    width: 90%;
    transition: all .5s ease;
}

/* ==================================================================
                      Sponser section Style END
===================================================================== */


/* ==================================================================
                   Web footer Style START
===================================================================== */
footer {
    margin: 180px 0px 70px;

}

.web-logo {
    width: 400px;
    margin: 0 auto;
}

.web-logo img {
    width: 100%;
    margin-bottom: 20px;
}


.social-icons,
.copyrith {
    text-align: center;

}

.copyrith,
.copyrith a {
    color: #646464;
}



.icons {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #2D25A0;
    border: 1px solid #2D25A0;
    border-radius: 50%;
}

.icons:hover {
    background-color: #2D25A0;
    color: #fff;
    transition: all .5s ease;

}

/* ==================================================================
                     Web footer Style END
===================================================================== */








/* --------------------------------------------------------------------------
                               Media Queries
------------------------------------------------------------------------------*/



/* ===========================Mobile devices================================== */

@media only screen and (max-width:767px) {
    body{
        overflow-x: hidden;
    }
    header {
        display: none;

    }


    /*----------Top Section-------------- */
    .topSection {
        width: auto;
        height: auto;
        flex-direction: column;

    }

    .pageTitel {
        width: auto;
        margin-top: 70px;

    }

    .main-titel {
        font-size: 50px;
        line-height: 60px;
        transition: all .3s ease-in-out;
    }

    .pageThumbnail {
        width: 100%;
        margin: 0;
    }

    .pageThumbnail img {
        width: 85%;
        margin-top: 24px;
        transition: all .3s ease-in;
    }

    .watch-live-button {

        padding: 20px 35px;
        margin-top: 30px;
        font-size: 20px;
        margin-bottom: 42px;

    }

    /* ------------card sections------------- */
    .card-section {
        width: auto;
        padding: 0px 30px;


    }


    .players-gallery {
       
        width: 100%;
        height: auto;
         display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 60px;

    }

    .player {

        transition: all .3s ease-in-out;

    }

    .player:hover {
        transform: scale(1.07);

    }

    .playerAbout {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.4em;

    }

    /* -------------Match highlight section------------ */
    .match-highlight {
        width: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
    }

    .highlight {
        width: 100%;
        margin: 0;


    }

    .highlight article {
        padding: 0px 30px;


    }

    .discription h1 {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .best-moment {
        width: 100%;
        padding: 0px 30px;


    }

    .best-moment img {
        width: 100%;
        margin: 0 auto;
    }

    /* -------------Location--------------- */
    .location {
        margin-top: 87px;
        width: 100%;
    }

    .titelExtra {
        margin-bottom: 24px;
        font-size: 32px;
    }

    /* ------------ spnor section----------------- */
    .sponsor-section {
        margin-top: 49px;

    }







    .sponsor:hover img {
        transform: scale(1.05);
    }

    .sponsor img {
        width: 90%;
        transition: all .5s ease;
    }

  .sponsors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px 25px;
    }

    .sponsor {
        width: 90px;
        border: 1px solid #3d3d3d41;
        box-shadow: inset 5px 5px 8px rgb(61 61 61 / 36%), -2px -2px 9px #d7e8fcb3;
        border-radius: 30px;
        padding: 4px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .sponsor:hover img {
        transform: scale(1.1);
    }

    .sponsor img {
        width: 90%;
        transition: all .3s ease;
    }


    /* ------------Footer section-------------- */
    footer {
        margin-top: 88px;
        width: auto;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .web-logo {
        width: 200px;
        margin-top: 27px;
        margin-bottom: 6px;
    }

    .web-logo img {
        width: 78%;
        margin: 0 auto;
    }

    .social-icons {
        width: auto;
    }










}








/* ===========================For medium Devices============================ */

@media only screen and (min-width:768px) and (max-width:992px) {

    header {
        display: none;

    }

    .topSection {
        width: auto;
        height: auto;


    }

    .pageTitel {
        width: 50%;
        margin-top: 73px;
        margin-left: 30px;

    }

    .pageThumbnail {
        width: 50%;
        margin: 0;
        padding-top: 77px;
    }

    .pageThumbnail img {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    /* ------------card sections------------- */
    .card-section {
        width: auto;
        padding: 0px 30px;


    }


    .players-gallery {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;

    }

    /* -------------Match highlight section------------ */
    .match-highlight {
        width: auto;
        margin-top: 60px;
    }

    .highlight {
        width: 100%;
        margin: 0;


    }

    .highlight article {
        padding: 0px 30px;


    }

    .discription h1 {
        font-size: 32px;
        margin-bottom: 25px;
    }

    .best-moment {
        width: 100%;
        padding: 0px 30px;


    }

    .best-moment img {
        width: 100%;
        margin: 0 auto;



    }

    /* -------------Location--------------- */
    .location {

        margin-top: 87px;
        width: 100%;
    }


    .location-area>iframe {
        width: 100%;
    }

    /* ------------ spnor section----------------- */
    .sponsor-section {
        margin-top: 49px;
        margin-bottom: 20px;
    }

    .titelExtra {
        text-align: center;
        color: #ff7c4df6;
        text-shadow: 1px 1px #272727;

    }

    .sponsors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 30px;
    }

    .sponsor {
        width: 154px;
        border: 1px solid #3d3d3d41;
        box-shadow: inset 5px 5px 8px rgb(61 61 61 / 36%), -2px -2px 9px #d7e8fcb3;
        border-radius: 30px;
        padding: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .sponsor:hover img {
        transform: scale(1.1);
    }

    .sponsor img {
        width: 90%;
        transition: all .3s ease;
    }

    /* ------------Footer section-------------- */
    footer {
        margin-top: 88px;
        width: auto;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .web-logo {
        width: 300px;

    }

    .web-logo img {
        width: 100%;
        margin: 51px 0px 2px;

    }

    .social-icons {
        width: 100%;
    }

}